body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    background-color: greenyellow;
    display: flex;
    justify-content: space-around;

}
.content {
    background-color: rgba(172, 255, 47, 0.295);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.content > p {
    width: 100%;
    display: flex;
    justify-content: center;
}
.content p {
    order: 3;
    padding: 20px;
} 
.content h3 {
    padding-left: 20px;
}
h1 {
    display: flex;
    order: 2;
    justify-content: center;
    width: 100%;
}
.news {
    width: 33%;
    order: 4;
}
div#breaking {
    order: 1;
}
#breaking > h3 {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 50px;
}
#breaking > p {
    font-size: 20px;
}